# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node dependencies
node_modules/

# Yarn
.pnp
.pnp.js
.yarn/install-state.gz
.yarn/unplugged
.yarnrc.yml
yarn.lock

# Build output
/.next/
/out/
/build/
dist
tmp
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log.*

# Coverage
/coverage

# Editor files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.swp
*.swo

# Misc
.DS_Store
**/.DS_Store
*.pem

# Local config
.env
.env.local
.env.*.local
.env.development.local
.env.development
.env.production
.env.production.local
.env.test
.env.test.local

# Next-Auth
next-auth.session-token

# TypeScript
*.tsbuildinfo
**/tsconfig.tsbuildinfo

# Turbo
.turbo

# REPL history
.node_repl_history

# Docusaurus
.docusaurus

# IDX
.idx/

# Temporary files
*.tmp
*~
*.backup
.modified

# Supabase
supabase/.branches/
supabase/.temp/

# Cursor
.cursor/
.cursor/mcp.json

# Project-specific
Gearflow logo.png
